/* Estilos base */
.Fondo1 {
    background: conic-gradient(at left top, rgb(255, 228, 230), rgb(204, 251, 241));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.boton_atras{
    @apply bg-white rounded-full shadow-lg  ;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: -110px;
}
.botones-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los botones se muevan a la siguiente fila si no caben en el ancho de la pantalla */
    justify-content: center; /* Centra los botones horizontalmente en el contenedor */
    gap: 20px; /* Espacio entre los botones */
}

.titulo1 {
    @apply text-9xl font-bold text-center mt-20 mb-20 text-gray-900;
}

.contenedor_Grafica1 {
    @apply rounded-full

    shadow-lg border-2 border-amber-200 shadow-amber-500/50 p-20 bg-white mx-10 mb-8;
    max-width: calc(50% - 20px); /* Ancho máximo de los botones */
}
.contenedor_Grafica2 {
    @apply rounded-full

    shadow-lg border-2 border-green-200 shadow-green-500/50 p-20 bg-white mx-10 mb-8;
    max-width: calc(50% - 20px); /* Ancho máximo de los botones */
}
.contenedor_Grafica3 {
    @apply rounded-full

    shadow-lg border-2 border-blue-200 shadow-blue-500/50 p-20 bg-white mx-10 mb-8;
    max-width: calc(50% - 20px); /* Ancho máximo de los botones */
}
.contenedor_Grafica4 {
    @apply rounded-full

    shadow-lg border-2 border-yellow-200 shadow-yellow-500/50 p-20 bg-white mx-10 mb-8;
    max-width: calc(50% - 20px); /* Ancho máximo de los botones */
}
.contenedor_Grafica5 {
    @apply rounded-full

    shadow-lg border-2 border-red-200 shadow-red-500/50 p-20 bg-white mx-10 mb-8;
    max-width: calc(50% - 20px); /* Ancho máximo de los botones */
}
.contenedor_Grafica6 {
    @apply rounded-full

    shadow-lg border-2 border-purple-200 shadow-purple-500/50 p-20 bg-white mx-10 mb-8;
    max-width: calc(50% - 20px); /* Ancho máximo de los botones */
}
/* Media query para pantallas más pequeñas */
@media (max-width: 1360px) {
    .contenedor_Grafica1 {
        max-width: calc(50% - 20px); /* Ajusta el ancho máximo en esta resolución */
    }
    .contenedor_Grafica2 {
        max-width: calc(50% - 20px); /* Ajusta el ancho máximo en esta resolución */
    }
    .contenedor_Grafica3 {
        max-width: calc(50% - 20px); /* Ajusta el ancho máximo en esta resolución */
    }
    .contenedor_Grafica4 {
        max-width: calc(50% - 20px); /* Ajusta el ancho máximo en esta resolución */
    }
    .contenedor_Grafica5 {
        max-width: calc(50% - 20px); /* Ajusta el ancho máximo en esta resolución */
    }
    .contenedor_Grafica6 {
        max-width: calc(50% - 20px); /* Ajusta el ancho máximo en esta resolución */
    }
}

/* Media query para pantallas aún más pequeñas */
@media (max-width: 768px) {
    .titulo1 {
        @apply text-6xl; /* Reduce el tamaño del texto en pantallas pequeñas */
    }

    .contenedor_Grafica1 {
        max-width: calc(100% - 20px); /* Ancho máximo del contenedor en pantallas pequeñas */
        margin: 10px; /* Espacio entre los contenedores en pantallas pequeñas */
    }
    .contenedor_Grafica2 {
        max-width: calc(100% - 20px); /* Ancho máximo del contenedor en pantallas pequeñas */
        margin: 10px; /* Espacio entre los contenedores en pantallas pequeñas */
    }
    .contenedor_Grafica3 {
        max-width: calc(100% - 20px); /* Ancho máximo del contenedor en pantallas pequeñas */
        margin: 10px; /* Espacio entre los contenedores en pantallas pequeñas */
    }
    .contenedor_Grafica4 {
        max-width: calc(100% - 20px); /* Ancho máximo del contenedor en pantallas pequeñas */
        margin: 10px; /* Espacio entre los contenedores en pantallas pequeñas */
    }
    .contenedor_Grafica5 {
        max-width: calc(100% - 20px); /* Ancho máximo del contenedor en pantallas pequeñas */
        margin: 10px; /* Espacio entre los contenedores en pantallas pequeñas */
    }
    .contenedor_Grafica6 {
        max-width: calc(100% - 20px); /* Ancho máximo del contenedor en pantallas pequeñas */
        margin: 10px; /* Espacio entre los contenedores en pantallas pequeñas */
    }
}


